/*default*/
@media screen and (width > 75em)  and (height > 50em){
  body {
    background-color: #006eff;
  }
    .keyboard-key {
        margin: .1em .3em;
        padding: 1.5vh 1vw;
        font-size: 2rem;
      }
      .letter-cell {
        max-width: 8vh;
        width: 5vw;
        height: 8vh;
        font-size: 3rem;
      }
  }
  /*square*/
@media screen and (width > 75em) and (height < 50em) {
  body {
    background-color: #006eff;
  }
    .keyboard-key {
        margin: .1em .3em;
        padding: 1vh .75vw;
        font-size: 1rem;
      }
      .letter-cell {
        max-width: 8vh;
        width: 5vw;
        height: 8vh;
        font-size: 2.5rem;
      }
  }

/*portrait*/
@media screen and (width < 75em) and (height > 50em){
    body {
      background-color: #60d955;
    }
    .keyboard-key {
        margin:  .2em;
        padding: 1.5vh 2vw;
        font-size: 2rem;
      }
      .letter-cell {
        width: 15vw;
        height: 10vh;
        max-width: 10vh;
        max-height: 17vw;
        font-size: 5rem;
      }
      #word-grid {
        display: grid;
        grid-gap: 1em;
        margin: 5vh;
      }
  }

/*landscape*/
  @media screen and (width < 75em) and (height < 50em){
    body {
      background-color: #d9558e;
    }
    .keyboard-key {
        margin:  .2em;
        padding: 1.5vh 2vw;
        font-size: 2rem;
      }
      .letter-cell {
        width: 15vw;
        height: 12vh;
        max-width: 12vh;
        font-size: 2.5rem;
      }
      #word-grid {
        display: grid;
        grid-gap: 1em;
        margin: 5vh;
      }
  }

  .keyboard-key {
    background-color: #dadde1;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  .letter-cell {
    background-color: #d3d6da;
    border: 2px solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #word-grid {
    display: grid;
  }


body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f5f5f5; */
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#word-grid {
  display: grid;
  grid-gap: 1em;
}

.word-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.correct-letter {
  background-color: #60d955;
}
.contains-letter {
  background-color: #f0ad4e;
}
.incorrect-letter {
  background-color: #d9534f;
}

#keyboard-container {
  margin-top: 25px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.keyboard-key:hover {
    background-color: #c1c4c8;
  }


.keyboard-key:active {
  background-color: #c0c3c7;
}

/* Add any additional styles or overrides as needed */
